data/md
data/dump
data/xtb

fande/__pycache__/
fande/models/__pycache__/
fande/modeling/__pycache__/

fande.egg-info/
data/dump.tar.gz
data/dump.zip

wandb/
fande/plot/__pycache__/__init__.cpython-39.pyc
fande/plot/__pycache__/forces.cpython-39.pyc

MNIST/
lightning_logs/
fande/data/__pycache__/
fande/data/__pycache__/
fande/predict/__pycache__/
fande/utils/__pycache__/
None/version_None/checkpoints/
lr_find_temp_model_*.ckpt
docs/_build/

elevators.mat

fande/compute/__pycache__/
fande/ase/__pycache__/





conda-out/
fande/explore/__pycache__/





_build
fande_updated.tar.gz
fande/plot/__pycache__/
fande/plot/__pycache__/
.ipynb_checkpoints/*
